.heading {
    color: black;
    font-family: "Ubuntu", sans-serif;
}

.resume {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    background-color: transparent;
}

.resume:hover {
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
}


/* icons */
.social-icons {
  color: black; 
  font-size: 2em;
}

.insta {                /* Default text color */
  font-size: 2em;                  /* Font size */
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); /* Keep the gradient on hover */

  
  -webkit-background-clip: text;   /* Clip background to text (for WebKit browsers) */
  background-clip: text;           /* Clip background to text */
  margin: 3px;
}

.insta:hover {
  color: transparent;
}

.github {
  font-size: 2em;
  margin: 3px;
}

.github:hover {
  color: #2dba4e;
}

.linkedIn {
  font-size: 2em;
  margin: 3px;
}

.linkedIn:hover {
  color:#0077B5
}

.comp {
    color: burlywood;
}

.lang {
    color: rgb(77, 161, 77);
}

.prog {
    color: rgb(211, 13, 13);
}

.trav {
    color: rgb(205, 137, 12);
}

.links-and-resume {
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.hold-main {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 60px;
  align-items: center;
  justify-content: center;

    background-size: 400% 400%;
    animation: gradientShift 15s ease-in-out infinite;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1000px) {
  .hold-main {
    flex-direction: column;
  }
}

.name-cluster {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.background-circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

/* Individual circle styles */
.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(139, 69, 19, 0.15); /* Semi-transparent brown */
}

/* Different sized circles positioned around the page */
.circle-1 {
    width: 300px;
    height: 300px;
    top: -5%;
    left: -5%;
    background-color: rgba(160, 82, 45, 0.12);
}

.circle-2 {
    width: 150px;
    height: 150px;
    top: 60%;
    right: 20%;
    background-color: rgba(139, 69, 19, 0.18);
}

.circle-3 {
    width: 100px;
    height: 100px;
    top: 30%;
    right: 10%;
    background-color: rgba(101, 67, 33, 0.15);
}

        .circle-4 {
    width: 180px;
    height: 180px;
    bottom: 20%;
    left: 8%;
    background-color: rgba(139, 69, 19, 0.1);
}

.circle-5 {
    width: 220px;
    height: 220px;
    top: 5%;
    right: 40%;
    background-color: rgba(160, 82, 45, 0.13);
}

.circle-6 {
    width: 150px;
    height: 150px;
    bottom: 10%;
    right: 55%;
    background-color: rgba(139, 69, 19, 0.16);
}