
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.logo {
    width: fit-content;
    height: 50px;
    background-color: #eef3f9;
    /* margin-left: 30px; */
    border-radius: 25px ;
    justify-content: space-evenly;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.logo:hover {
    background-color: #873800;

}

.name-logo {
    color: #eef3f9;
}

.header {
    width: 75vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* padding-top: 1%; */
    align-items: center;
    margin: 0 auto;
}

.page-links {
    display: flex;
    width: max-content;
    gap: 20px;
}

.btn.btn-dark {
    background-color: burlywood;
    border-color: burlywood;
    color: FFFFF0;
}

.btn.btn-dark:hover {
    background-color: #873800;
    border-color: #873800;
}

.btn.btn-dark:focus {
    background-color: #873800;
}


.under-header {
    background-color: gray;
    height: 550px;

    width: 75vw;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 100px;
}

.dropdown {
    display: none;
}

.dropdown-toggle:focus {
    background-color: #873800 !important;
}

.dropdown-menu {
    background-color: burlywood !important;
}

.dropdown-item {
    color: #FFFFF0 !important; /* Blue font color */
    background-color: burlywood !important;
}

.dropdown-item:hover {
    background-color: #873800 !important; /* Light background color on hover */
}



@media (max-width: 1100px) {
    .under-header {
        flex-direction: column;
    }
    .logo {
        width: 200px;
    }
    
}

@media (max-width: 800px) {
    
    .page-links {
        display: none; /* Hide buttons */
    }

    .dropdown {
        display: block;
    }
}



.portrait {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-info {
    background-color: burlywood;
    height: 400px;
    width: 75vw;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    overflow: hidden;

}

.footer {
    background-color: #873800;
    bottom: 0px;
    height: 230px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.block {
    background-color: #FFFFF0;
    border-radius: 25px;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.block-long {
    background-color: #FFFFF0;
    border-radius: 25px;
    width: 1020px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.hold-blocks-horizontal {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.don {
    padding: 12px;
    font-size: inherit
}

.footer-pages {
    
    width: fit-content;
    height: fit-content;
}

h4 {
    color: #FFFFF0;
    text-decoration: none;
}

h4:hover {
    color:burlywood;
    
}

/* hold social media links */
.social-media-container {
    width: fit-content;
    height: fit-content;
    
}

/* icons */
.social-icons {
  color: white; 
  font-size: 2em;
}

.insta {                /* Default text color */
  font-size: 2em;                  /* Font size */
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); /* Keep the gradient on hover */

  
  -webkit-background-clip: text;   /* Clip background to text (for WebKit browsers) */
  background-clip: text;           /* Clip background to text */
  margin: 3px;
}

.insta:hover {
  color: transparent;
}

.github {
  font-size: 2em;
  margin: 3px;
}

.github:hover {
  color: #2dba4e;
}

.linkedIn {
  font-size: 2em;
  margin: 3px;
}

.linkedIn:hover {
  color:#0077B5
}

.email-link {
    color: #FFFFF0;
}

.email-link:hover {
    color:#873800;
    text-decoration: transparent;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}