.heading {
    color: black;
    font-family: "Ubuntu", sans-serif;
}

.resume {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    background-color: transparent;
}

.resume:hover {
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
}


/* icons */
.social-icons {
  color: black; 
  font-size: 2em;
}

.insta {                           /* Default text color */
  font-size: 2em;                  /* Font size */
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); /* Keep the gradient on hover */
  -webkit-background-clip: text;   /* Clip background to text (for WebKit browsers) */
  background-clip: text;           /* Clip background to text */
  margin: 3px;
}

.insta:hover {
  color: transparent;
}

.github {
  font-size: 2em;
  margin: 3px;
}

.github:hover {
  color: #2dba4e;
}

.linkedIn {
  font-size: 2em;
  margin: 3px;
}

.linkedIn:hover {
  color:#0077B5
}

.comp {
    color: burlywood;
}

.lang {
    color: rgb(77, 161, 77);
}

.prog {
    color: rgb(211, 13, 13);
}

.trav {
    color: rgb(205, 137, 12);
}

.links-and-resume {
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}


.hold-main {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 60px;
  align-items: center;
  justify-content: center;

    background-size: 400% 400%;
    animation: gradientShift 15s ease-in-out infinite;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.name-cluster {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project {
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 150px;
      width: 1000px;
  }

@media (max-width: 1200px) {
  .hold-main {
    flex-direction: column;
  }

  .project {
    width: 90%;
    gap: 100px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif !important;
}