.logo {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    margin-left: 30px;
    border-radius: 25px ;
}

.logo:hover {
    background-color: #873800;
}

.header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;
}

.page-links {
    display: flex;
    width: 550px;
    justify-content: space-evenly;
}

.btn.btn-dark {
    background-color: burlywood;
    border-color: burlywood;
    color: FFFFF0;
}

.btn.btn-dark:hover {
    background-color: #873800;
    border-color: #873800;
}


.btn.btn-dark:active {
    background-color: darkblue;
    border-color: darkblue;
}

.under-header {
    background-color: burlywood;
    height: 350px;
    width: 75vw;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    border-radius: 25px;
    overflow: hidden;
    padding-top: 5px;
}


.portrait {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-info {
    background-color: burlywood;
    height: 400px;
    width: 75vw;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    overflow: hidden;

}

.footer {
    background-color: #873800;
    bottom: 0px;
    height: 300px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.block {
    background-color: #FFFFF0;
    border-radius: 25px;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.don {
    padding: 12px;
    font-size: inherit
}

.footer-pages {
    
    width: fit-content;
    height: fit-content;
}

h4 {
    color: #FFFFF0;
    text-decoration: none;
}

h4:hover {
    color:burlywood;
    
}

/* hold social media links */
.social-media-container {
    width: fit-content;
    height: fit-content;
    
}

/* icons */
.social-icons {
  color: white;
  font-size: 2em;
}

.insta {
  color: white;                  /* Default text color */
  font-size: 2em;                  /* Font size */
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); /* Keep the gradient on hover */

  
  -webkit-background-clip: text;   /* Clip background to text (for WebKit browsers) */
  background-clip: text;           /* Clip background to text */
  margin: 3px;
}

.insta:hover {
  color: transparent;
}

.github {
  color: white;
  font-size: 2em;
  margin: 3px;
}

.github:hover {
  color: #2dba4e;
}

.linkedIn {
  color: white;
  font-size: 2em;
  margin: 3px;
}

.linkedIn:hover {
  color:#0077B5
}